
.nombre{
    width: 100%;
    height: 250px;
    background-color: #688B58;
}
body{
    margin: 0%;
    padding: 0%;
    color: #333533;
    background-color: #E8EDDF;
    box-sizing: border-box;
}
.nombre .contenido{
    width: 50%;
    height: 50%;
    position: absolute;
    left: 25%;
}
.nombre .contenido .p1{
    font-family: 'STIX Two Text', serif;
    font-weight: 20px;
    font-size: 50px;
    
}
.nombre .contenido .p2{
    font-family: 'Libre Baskerville', serif;
    font-weight: 20px;
    font-size: 25px;
    color: #E8EDDF;

}
.nombre .foto{
    position: absolute;
    top: 8%;
    right: 5%;
    width: 180px;
    height: 180px;
    border-radius: 100%;
    overflow: hidden;
}
.nombre .foto img{
    width: 180px;
    height: 180px;
}

.info{
    width: 60%;
    height: auto;
    background: #688B58;
    margin: 0% auto;
    padding: 0%;
    font-family: 'STIX Two Text', serif;
    font-size: x-large;
    text-align: center;
    border-radius: 30px;
   
 }
 .info .informaciond{
    color: white;
    font-family: 'Libre Baskerville', serif;
    font-weight: normal;
    font-size: 50px; 
    border-bottom: 2px #333533 solid;
 }
.info .infoj{
    color: white;
    font-family: 'Libre Baskerville', serif;
    font-weight: normal;
    font-size: xx-large; 
}

.footer{
    background-color: #688B58;
    box-sizing: border-box;
}
.container{
    padding: 10px;
    display: flex;
    text-align: center;
    justify-content: space-between;
    box-sizing: border-box;
}
.container-about h2{
    color: #E8EDDF;
    font-size: 2rem;
    font-family:'STIX Two Text', serif;
    box-sizing: border-box;
}
 .container-about p{
    color: #333533;
    font-family: 'STIX Two Text', serif;
    font-size: 1rem;
    text-align: justify;
}
 .container-redes_social{
    color: #E8EDDF;
    font-size: 2rem;
    font-family: 'STIX Two Text', serif;
    text-align: center;
    padding: 0px 10px;
}
 .links{
    color: #333533;
    display: flex;
    font-size: 1.2rem;
    line-height: 50px;
    text-decoration: none;
}
.icon{
    font-size: 30px;
    background-color: #688B58;
    padding: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}
.icon:hover{
    background-color: #E8EDDF;
}

.final-container{
    text-align: center;
    color: #333533;
    font-size: 1.3rem;
    padding: 10px;
    font-family:'STIX Two Text', serif ;
}